<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CircularProgressBar" version="2.5.6403.13419" targetFramework="net472" />
  <package id="Dapper" version="1.50.5" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net472" />
  <package id="WinFormAnimation" version="1.5.6298.3372" targetFramework="net472" />
</packages>